
{% if role == 1 %}
 {% include 'admin_template.twig' %}
{% else %}
{% include 'basic_template.twig' %}
{% endif %}

    {% block content %}

        {% if role == 1 %}
            <h1>Modifier votre post</h1>
            <hr>
            {% if msg == 'ok' %}
                <div class="alert alert-success">
                    <strong>Le post a été modifié avec succés</strong>.
                </div>
                {% elseif deletePost == 'ok' %}
                    <div class="alert alert-success">
                        <strong>Post supprimé avec succés</strong>.
                    </div>
            {% endif %}
            <ul>
                {% for post in data %}
                    <li>
                        <div class="card">
                            {% autoescape %}
                                <div class="post_tilte"> {{ post.title | raw }} </div>
                            {% endautoescape %}
                            <div class="container" style="max-width:100%">
                                {% autoescape %}
                                    <p> {{ post.chapo | u.truncate(400, '...') | raw }} </p>
                                    <a href="../Posts/show/{{ post.id }}">Lire la suite</a>
                                {% endautoescape %}
                                <br>
                                <hr style="width: 60%">
                                <div class="date">  {{ post.last_update | date('d/m/y H:i:s') }}  </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="alert alert-info">
                <strong>Merci de vous connecter </strong> pour créer un post.
            </div>
        {% endif %}
        {% if role == 1 %}
            {% include 'footer.twig' %}
        {% endif %}
    {% endblock %}

