{% if role == 2 %}
    {% include 'basic_template_2.twig' %}
{% elseif role == 1 %}
    {% include 'admin_template.twig' %}
{% else  %}
    {% include 'basic_template.twig' %}
{% endif %}

{% block content %}
    {% if commentOk == 'ok' %}
        <div class="alert alert-success">
            <strong>Commentaire envoyé avec succés, il apparaitra après validation</strong>.
        </div>
    {% endif %}
<div id="card_index">
    <ul>
    {% for post in data %}
        <li>
            <div class="card">
                {% autoescape %}
                    <div class="post_tilte"> {{ post.title | raw }} </div>
                {% endautoescape %}
                <div class="container">
                    {% autoescape %}
                        <p> {{ post.chapo | u.truncate(400, '...') | raw }} </p>
                        <a href="../Posts/show/{{ post.id }}">Lire la suite</a>
                    {% endautoescape %}
                    <br>
                    <hr style="width: 60%">
                    <div class="date">  {{ post.last_update | date('d/m/y H:i:s') }}  </div>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% include 'footer.twig' %}

