

{% block content %}

    {% if role == 2 %}
        {% include 'basic_template_2.twig' %}
    {% elseif role == 1 %}
        {% include 'home_template.twig' %}
    {% else  %}
        {% include 'basic_template.twig' %}
    {% endif %}
    <ul>
    {% for post in data %}
        <li>
            <div class="card">
                {% autoescape %}
                    <div class="post_tilte"> {{ post.title | raw }} </div>
                {% endautoescape %}
                <div class="container" style="max-width:100%">
                    {% autoescape %}
                        <p> {{ post.chapo | u.truncate(200, '...') | raw }} </p>
                        <a href="../Posts/show/{{ post.id }}">Lire la suite</a>
                    {% endautoescape %}
                    <br>
                    <hr style="width: 60%">
                    <div class="date">  {{ post.last_update | date('d/m/y H:i:s') }}  </div>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>

{% endblock %}

{% include 'footer.twig' %}

