<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blog - Daniel Grondin</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Google fonts-->
    <style>{{ source('@css/styles.css') }}</style>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>


</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#">Agile Web</a><button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="Posts/index">blog</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a></li>
                {% if role == 2 %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="Users/editAccount">Mon compte</a></li>
                {% else %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="Users/register">S'inscrire</a></li>
                {% endif %}
                {% if active == true %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="Users/destroy">Se déconnecter</a></li>
                {% else %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="Users/login">Se connecter</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="public/dist/assets/img/profile.png" alt="" /><!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Daniel Grondin</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">Ecoute, qualité, sécurité <img src="https://insight.symfony.com/projects/e53f3e23-6136-428f-8c8c-d3555dd44320/big.svg"></p>
    </div>
</header>
{% if contact == 'ok' %}
<script>swal("Merci", "Je vous contacterai très prochainement{{ token }}", "success").then(function() {window.location = "../";});</script>
{% elseif msg == 'mailSend' %}
      <script>swal("Un mail vous a été envoyé.", "Merci de consulter votre boite de réception", "success").then(function() {window.location = "../";});</script>
    {% elseif msg == 'changePwdByMail' %}
      <script>swal("Votre mot de passe est modifié", "Vous pouvez maintenant vous connecter", "success").then(function() {window.location = "../";});</script>
    {% elseif confirmMail == 'ok' %}
      <script>swal("Un mail vous a été envoyé", "Vous y trouverez un code d'activation ainsi qu'un lien pour l'activation", "success").then(function() {window.location = "../";});</script>
    {% elseif AccountAlreadyExists == 'ok' %}
    <script>swal("Ce compte existe déjà", "Merci de vous connecter", "error").then(function() {window.location = "../";});</script>
    {% elseif confirmCompte == true %}
      <script>swal("Merci pour votre inscription", "Vous pouvez maintenant faire des commentaires sur le blog en vous connectant", "success").then(function() {window.location = "../";});</script>
    {% elseif confirmCompte == false %}
      <script>swal("Echec d'activation", "Merci de saisir de nouveau le code d'activation en cliquant sur le lien d'activation", "error").then(function() {window.location = "../";});</script>
{% endif %}

<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<!-- Contact form JS-->
<script src="assets/mail/jqBootstrapValidation.js"></script>
<script src="assets/mail/contact_me.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

</body>
</html>
