{% extends 'basic_template.twig' %}

    {% block content %}

        <form method="post" action="../Users/mailPasswordForgot">
            <label for="email">Votre email :</label>
            <input type="email" name="email">
            <input type="submit">
        </form>

    {% endblock %}

