{% include 'basic_template.twig' %}

{% block content %}

    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">S'enregistrer</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>

        <div class="formulaire2">
            <form action="../Users/addUser" method="post" onSubmit="return validate();">
                <input type="text" placeholder="Nom" name="firstname" required>
                <input type="text" placeholder="Prénom" name="lastname" required>
                <input type="email" placeholder="Email" name="email" required>
                <input type="password" placeholder="Saisir un mot de passe" id="pwd" name="pwd" required>
                <input type="password" placeholder="Confirmer le mot de passe" id="pwd_verif" name="pwd" required>
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" style="background-color: #51A691;">S'inscrire</button>
                    </div>
                    <div class="col-md-4">
                        <div class="g-recaptcha" data-sitekey="6LeAnC0UAAAAAGB-hJ7RGLu7p1T-llZpN3_x4494"></div>
                    </div>
                </div>
            </form>
            <div id="message2">
                <h3>Le mot de passe devrait contenir :</h3>
                <p id="letter" class="invalid">Au minimun une <b>minuscule</b> </p>
                <p id="capital" class="invalid">Au minimun une <b>majuscule</b> </p>
                <p id="number" class="invalid">Au minimun un <b>chiffre</b></p>
                <p id="length" class="invalid">Au minimun <b>8 caractères</b></p>
            </div>
        </div>

    {% include 'footer.twig' %}s
{% endblock %}

