{% extends 'basic_template.twig' %}

{% block content %}

    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Modifier son compte</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="formulaire2">
        <form action="../Users/editUser" method="post">
            <div class="alert alert-info">
                <strong>Nom</strong>  <a href="#" class="alert-link"></a>
            <input type="text"  name="firstname" value="{{ firstname }}">
            </div>
            <div class="alert alert-info">
                <strong>Prénom</strong>  <a href="#" class="alert-link"></a>
            <input type="text"  name="lastname" value="{{ lastname }}">
            </div>
            <div class="alert alert-info">
                <strong>Email</strong>  <a href="#" class="alert-link"></a>
            <input type="email"  name="email" value="{{ email }}">
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button type="submit" style="background-color: #51A691;width: 30%;">Modifier</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
