{% include 'admin_template.twig' %}

    {% block content %}
<div class="valideUser">
        {% if role == 1 %}
            {% if msg == 'ok' %}
                <div class="alert alert-success">
                    <strong>Utilisateur suspendu avec succés</strong>.
                </div>
                {% elseif reactive == 'ok' %}
                    <div class="alert alert-success">
                        <strong>Utilisateur réactivé avec succés</strong>.
                    </div>
            {% endif %}
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Saisir l'email..." title="Type in a name">
            <ul id="myUL">
                {% for user in users %}
                <li>
                    <a href="../Users/userSuspend/{{ user.user_id }}">{{ user.email }}</a>
                </li>
                {% endfor %}
            </ul>
            </div>
        {% else %}
            <div class="alert alert-info">
                <strong>Merci de vous connecter </strong>
            </div>
        {% endif %}
        {% include 'footer.twig' %}
    {% endblock %}

