{% extends 'basic_template.twig' %}

{% block content %}

    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Se connecter</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="formulaire">
        <form action="../Users/loginCheck" method="post">
            <input type="email" placeholder="Saisir votre adresse email" name="email" required>
            <input type="password" placeholder="Saisir mot de passe" name="pwd" required>
            <input type="hidden" name="postId" value="{{ postId }}">
            <button type="submit" style="background-color: #51A691;">Se connecter</button>
            {% if msg == 'error' %}
                <div class="alert alert-warning">
                    <strong>Authentification échouée ! </strong> Identifiant ou mot de passe incorrect.
                </div>
            {% endif %}
            {% if status == 'error' %}
                <div class="alert alert-warning">
                    <strong>Votre compte n'est pas encore validé ! </strong> Validation sous 24 heures.
                </div>
            {% endif %}
            {% if suspend == 'true' %}
                <div class="alert alert-danger">
                    <strong>Votre compte a été suspendu</strong> Pour plus d'information contactez l'adminsitrateur via le formulaire de contact.
                </div>
            {% endif %}
        </form>
    </div>

{% endblock %}
