{% extends 'admin_template.twig' %}
{% block content %}
    {% if role == 1 %}
        <form  method="POST" action="../Users/validateUsers">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom </th>
            <th>Email</th>
            <th>Valider</th>
        </tr>
        </thead>
        <tbody>
            {% for user in list %}
            <tr>
                <td>{{ user.firstname }}   </td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <div class="checkbox">
                        <input type="checkbox" value="{{ user.id }}" name="tab[]">
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <input type="submit" name="submit" class="btn btn-primary" value="Envoyer">
        </form>
    {% else %}
        <div class="alert alert-info">
            <strong>Merci de vous connecter </strong>
        </div>
    {% endif %}
{% endblock %}
